@font-face {
    font-family: KakaoRegular;
    src: url(../font/KakaoRegular.ttf);
}

@font-face {
    font-family: KakaoBold;
    src: url(../font/KakaoBold.ttf);
}

*{
    font-family: 'kakaoRegula', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    min-width: 1712px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;

    width: 1712px;
}

.title-box{
    font-size: 52px;
    line-height: 68px;
    letter-spacing: -1px; /* 글자 간격 */
    font-family: 'KakaoBold', sans-serif;
    font-weight: 400;
}

.title-box::before{ /*이미지를 넣어주기 위하여 before 사용*/
    width: 78px;
    height: 78px;
    display: inline-block;
    content: "";
    /*이미지를 보여주려면 사이즈를 지정해야하는데 지정하기 위해선 인라인 블럭으로 지정*/
    background-image: url(https://www.kakaocorp.com/page/ico_tit_service.gif);
    background-size: 100%;
    vertical-align: top;
}

/*Contents Box*/
.contents-box {
    display: grid;
    grid-template: 
        /*행 지정*/
        "comunication businese" 180px
        "life shopping" 180px
        "entertainment social" 180px
        /*가지는 비율*/
        / 1fr 1fr;
        /*컨텐츠간에 간격*/
        gap: 16px;
    ;
}

.content-title{
    font-size: 30px;
    font-weight: 700;
}

.content-icons-box{
    display: flex;
    gap: 12px;
}

.icon-button{
    width: 56px;
    height: 56px;
    border-radius: 12px;
    background-size: 100%;
}
.icon-button::hover{
    cursor: pointer;
}
.more {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 56px;
    font-size: 36px;
}
.more:hover{
    background-color:rgba(0, 0, 0, 1);
}
.kakaotalk {
    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9424536018c00001.png');
}
.daum {
    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c9425290018c00001.png');
}
.story {
    background-image: url('https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c942653a018c00001.png');
}
.xx{
    background-image: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/kakaoService/c947f606018c00001.png);
}

/* More Box */
.more-box{
    display: flex;
    justify-content: center;
}

.more-button{
    width: 316px;
    height: 76px;
    background-color: rgba(240 , 240, 240, 1);
    font-size: 24px;
    letter-spacing: -0.4;
    border-radius: 38px; /* radius 할때 어디를 기준으로 할건지 확인해서 값을 지정하면 정확하게 지정 가능 */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

/* 가상클래스 호버 */
.more-button:hover{
    cursor: pointer;
}

.round-black{
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 20px;
    border-radius: 12px;
    font-size: 16px;
}
.content-card{
    background-color: rgba(240, 240, 240, 1);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
}

/*커서 깜빡임 만들기 (버튼에 올라갔을때 라운드를 바꿔라)*/
.more-button:hover .round-black{
    background-color: rgba(0, 0, 0, 0.3);
}

